body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10552 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:75px;
  width:1330px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#343434;
  text-align:left;
}
#u10553 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:84px;
  width:52px;
  height:25px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#343434;
  text-align:left;
}
#u10553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10553_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#343434;
  text-align:left;
}
#u10553.selected {
}
#u10553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
  background:inherit;
  background-color:rgba(87, 199, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
  display:flex;
}
#u10554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10555 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:200px;
  width:1330px;
  height:160px;
}
#u10556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10557 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u10558 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10559 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10560 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10561 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:0px;
  width:70px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u10562 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10563 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u10564 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:0px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10565 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10566 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10567 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:130px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10569 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:40px;
  width:130px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u10570 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10571 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10572 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10573 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:40px;
  width:70px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u10574 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10575 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u10576 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:40px;
  width:140px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10577 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10578 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10579 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#169BD5;
}
#u10579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:130px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10581 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:80px;
  width:130px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u10582 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:80px;
  width:200px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10583 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10584 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10585 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:80px;
  width:70px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u10586 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10587 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u10588 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:80px;
  width:140px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10589 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10590 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10591 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#169BD5;
}
#u10591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:130px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10593 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:120px;
  width:130px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u10594 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:120px;
  width:200px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10595 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:120px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10596 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:120px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10597 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:120px;
  width:70px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u10598 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:120px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10599 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:120px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u10600 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:120px;
  width:140px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10601 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:120px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10602 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:120px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10603 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:120px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#169BD5;
}
#u10603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10604 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:78px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10604_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10604.mouseOver {
}
#u10604_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10604.mouseDown {
}
#u10604_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(211, 211, 211, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10604.disabled {
}
#u10604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:50px;
  background:inherit;
  background-color:rgba(46, 70, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10605 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:132px;
  width:1330px;
  height:50px;
  display:flex;
}
#u10605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10606 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:148px;
  width:144px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10607 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:148px;
  width:124px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10607 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10607_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
