body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1340px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15127_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1323px;
  height:5px;
}
#u15127 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:108px;
  width:1320px;
  height:2px;
  display:flex;
}
#u15127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#343434;
  text-align:left;
}
#u15128 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:73px;
  width:52px;
  height:25px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#343434;
  text-align:left;
}
#u15128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15128_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#343434;
  text-align:left;
}
#u15128.selected {
}
#u15128_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:50px;
  background:inherit;
  background-color:rgba(87, 199, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:50px;
  display:flex;
}
#u15129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15130 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:165px;
  width:1320px;
  height:177px;
}
#u15130_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:177px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 211, 211, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15130_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15130_state0_content {
  left:-1px;
  top:-1px;
}
#u15131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1589px;
  height:160px;
}
#u15132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15133 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u15134 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:210px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15135 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:0px;
  width:180px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15136 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15137 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15138 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
}
#u15138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15139 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
}
#u15139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15140 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15141 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15142 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15143 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4B7902;
}
#u15143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15144 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4B7902;
}
#u15144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15145 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15147 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u15148 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:210px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15149 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:40px;
  width:180px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15150 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15151 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15152 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15153 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15154 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15155 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15156 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15157 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15158 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15159 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15161 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u15162 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:80px;
  width:210px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15163 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:80px;
  width:180px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15164 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15165 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15166 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15167 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15168 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15169 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15170 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15171 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15172 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15173 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15175 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:120px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u15176 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:120px;
  width:210px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15177 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:120px;
  width:180px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15178 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:120px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15179 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:120px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15180 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:120px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15181 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:120px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15182 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:120px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15183 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:120px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15184 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:120px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15185 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:120px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15186 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:120px;
  width:80px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15187 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:120px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u15187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u15188 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:120px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u15188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15188_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u15188.mouseOver {
}
#u15188_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u15188.mouseDown {
}
#u15188_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(211, 211, 211, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u15188.disabled {
}
#u15188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15189_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15189 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:210px;
  height:32px;
  display:flex;
}
#u15189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15189_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15189.disabled {
}
#u15190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u15190 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:129px;
  width:15px;
  height:15px;
  display:flex;
}
#u15190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u15193 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:362px;
  width:28px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u15193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15194 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:362px;
  width:28px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15195 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:362px;
  width:28px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15197 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:362px;
  width:28px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u15198 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:372px;
  width:8px;
  height:8px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15200 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:362px;
  width:28px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u15201 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:372px;
  width:8px;
  height:8px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u15203 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:362px;
  width:69px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u15203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u15203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u15204 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:372px;
  width:8px;
  height:8px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.800000011920929;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15205_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15205 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:120px;
  width:220px;
  height:32px;
  display:flex;
}
#u15205 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15205_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15205.disabled {
}
.u15205_input_option {
}
#u15206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15206_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15206 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:120px;
  width:100px;
  height:32px;
  display:flex;
}
#u15206 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15206_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15206.disabled {
}
.u15206_input_option {
}
