body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:800px;
  display:flex;
}
#u10939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:60px;
  display:flex;
}
#u10940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u10942 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:8px;
  width:100px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u10942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u10943 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:23px;
  width:11px;
  height:11px;
  display:flex;
}
#u10943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u10944 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:29px;
  height:30px;
  display:flex;
}
#u10944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u10946 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:8px;
  width:100px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u10946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u10947 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:23px;
  width:11px;
  height:11px;
  display:flex;
}
#u10947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u10949 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:8px;
  width:100px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u10949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u10950 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:23px;
  width:11px;
  height:11px;
  display:flex;
}
#u10950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u10951 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:15px;
  width:29px;
  height:30px;
  display:flex;
}
#u10951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
}
#u10952 {
  border-width:0px;
  position:absolute;
  left:1288px;
  top:24px;
  width:30px;
  height:13px;
  display:flex;
}
#u10952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10953 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:15px;
  width:30px;
  height:30px;
  display:flex;
}
#u10953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10954 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:15px;
  width:30px;
  height:30px;
  display:flex;
}
#u10954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u10956 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:8px;
  width:100px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u10956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u10957 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:23px;
  width:11px;
  height:11px;
  display:flex;
}
#u10957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.168627450980392);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.168627450980392);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.168627450980392);
}
#u10958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:1420px;
  height:60px;
  display:flex;
}
#u10958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10959 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:287px;
  width:1380px;
  height:240px;
}
#u10960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10961 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:198px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10962 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:198px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10963 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:0px;
  width:198px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10964 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:0px;
  width:198px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10965 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:198px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
}
#u10966 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:0px;
  width:192px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10968 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:40px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10969 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:40px;
  width:198px;
  height:40px;
  display:flex;
}
#u10969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10970 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:40px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10971 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:40px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10972 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:40px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
}
#u10973 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:40px;
  width:192px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10975 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:80px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10976 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:80px;
  width:198px;
  height:40px;
  display:flex;
}
#u10976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10977 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:80px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10978 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:80px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10979 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:80px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
}
#u10980 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:80px;
  width:192px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10982 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:120px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10983 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:120px;
  width:198px;
  height:40px;
  display:flex;
}
#u10983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10984 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:120px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10985 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:120px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10986 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:120px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
}
#u10987 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:120px;
  width:192px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10989 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:160px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10990 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:160px;
  width:198px;
  height:40px;
  display:flex;
}
#u10990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10991 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:160px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10992 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:160px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10993 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:160px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
}
#u10994 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:160px;
  width:192px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10996 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:200px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10997 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:200px;
  width:198px;
  height:40px;
  display:flex;
}
#u10997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10998 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:200px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u10999 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:200px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u10999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u11000 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:200px;
  width:198px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u11000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
}
#u11001 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:200px;
  width:192px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u11001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11002 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:147px;
  width:70px;
  height:16px;
  display:flex;
  text-align:right;
}
#u11002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11003_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11003 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:139px;
  width:150px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u11003 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11003_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11003.disabled {
}
#u11004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11004 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:147px;
  width:70px;
  height:16px;
  display:flex;
  text-align:right;
}
#u11004 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11004_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11005 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:600px;
  width:462px;
  height:16px;
  display:flex;
}
#u11005 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11005_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11006 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:147px;
  width:70px;
  height:16px;
  display:flex;
  text-align:right;
}
#u11006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11008 label {
  left:0px;
  width:100%;
}
#u11008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u11008 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:255px;
  width:100px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#8C8C8C;
}
#u11008 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
}
#u11008_img.selected {
}
#u11008.selected {
}
#u11008_img.disabled {
}
#u11008.disabled {
}
#u11008_img.selectedDisabled {
}
#u11008.selectedDisabled {
}
#u11008_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:74px;
  word-wrap:break-word;
  text-transform:none;
}
#u11008_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11009 label {
  left:0px;
  width:100%;
}
#u11009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u11009 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:255px;
  width:100px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#8C8C8C;
}
#u11009 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
}
#u11009_img.selected {
}
#u11009.selected {
}
#u11009_img.disabled {
}
#u11009.disabled {
}
#u11009_img.selectedDisabled {
}
#u11009.selectedDisabled {
}
#u11009_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:74px;
  word-wrap:break-word;
  text-transform:none;
}
#u11009_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11010 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:555px;
  width:70px;
  height:16px;
  display:flex;
  text-align:right;
}
#u11010 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11010_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u11011 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:548px;
  width:62px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u11011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11011_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11012 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:207px;
  width:56px;
  height:16px;
  display:flex;
  text-align:right;
}
#u11012 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11012_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11013 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:207px;
  width:70px;
  height:16px;
  display:flex;
  text-align:right;
}
#u11013 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11013_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11014 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:147px;
  width:70px;
  height:16px;
  display:flex;
  text-align:right;
}
#u11014 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11014_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11015 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:73px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11015_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11015.mouseOver {
}
#u11015_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11015.mouseDown {
}
#u11015_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(211, 211, 211, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11015.disabled {
}
#u11015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11016 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:207px;
  width:70px;
  height:16px;
  display:flex;
  text-align:right;
}
#u11016 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11016_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11017_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11017 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:199px;
  width:150px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u11017 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11017_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11017.disabled {
}
#u11018_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11018_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11018 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:199px;
  width:150px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u11018 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11018_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11018.disabled {
}
#u11019_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11019_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11019 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:199px;
  width:150px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u11019 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11019_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11019.disabled {
}
#u11020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11020_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u11020 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:139px;
  width:150px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u11020 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11020_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u11020.disabled {
}
#u11021_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11021_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u11021 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:139px;
  width:150px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u11021 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11021_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u11021.disabled {
}
#u11022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11022_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11022 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:139px;
  width:150px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u11022 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11022_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11022.disabled {
}
#u11023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11023 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:147px;
  width:70px;
  height:16px;
  display:flex;
  text-align:right;
}
#u11023 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11023_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11024_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11024_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  padding:6px 2px 0px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11024 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:139px;
  width:150px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u11024 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11024_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11024.disabled {
}
