body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-36px;
  width:1296px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#02A7F0;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:26px;
  width:266px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#02A7F0;
}
#u343 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u343_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:1040px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:69px;
  width:826px;
  height:1040px;
  display:flex;
}
#u344 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u344_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:337px;
  width:335px;
  height:200px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u346 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:345px;
  width:18px;
  height:18px;
  display:flex;
}
#u348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:349px;
  width:10px;
  height:10px;
  display:flex;
  color:#DE2626;
}
#u349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:509px;
  width:19px;
  height:16px;
  display:flex;
}
#u350 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u350_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u351_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u351_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:504px;
  width:50px;
  height:25px;
  display:flex;
}
#u351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u351_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u351.disabled {
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:509px;
  width:19px;
  height:16px;
  display:flex;
}
#u352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u352_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u353 label {
  left:0px;
  width:100%;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:382px;
  width:100px;
  height:15px;
  display:flex;
}
#u353 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u353_img.selected {
}
#u353.selected {
}
#u353_img.disabled {
}
#u353.disabled {
}
#u353_img.selectedDisabled {
}
#u353.selectedDisabled {
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u353_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u354 label {
  left:0px;
  width:100%;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:382px;
  width:100px;
  height:15px;
  display:flex;
}
#u354 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u354_img.selected {
}
#u354.selected {
}
#u354_img.disabled {
}
#u354.disabled {
}
#u354_img.selectedDisabled {
}
#u354.selectedDisabled {
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u354_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u355 label {
  left:0px;
  width:100%;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:382px;
  width:100px;
  height:15px;
  display:flex;
}
#u355 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u355_img.selected {
}
#u355.selected {
}
#u355_img.disabled {
}
#u355.disabled {
}
#u355_img.selectedDisabled {
}
#u355.selectedDisabled {
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u355_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u356 label {
  left:0px;
  width:100%;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:405px;
  width:100px;
  height:15px;
  display:flex;
}
#u356 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u356_img.selected {
}
#u356.selected {
}
#u356_img.disabled {
}
#u356.disabled {
}
#u356_img.selectedDisabled {
}
#u356.selectedDisabled {
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u356_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u357 label {
  left:0px;
  width:100%;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:430px;
  width:75px;
  height:15px;
  display:flex;
}
#u357 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u357_img.selected {
}
#u357.selected {
}
#u357_img.disabled {
}
#u357.disabled {
}
#u357_img.selectedDisabled {
}
#u357.selectedDisabled {
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u357_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u358 label {
  left:0px;
  width:100%;
}
#u358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:430px;
  width:75px;
  height:15px;
  display:flex;
}
#u358 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u358_img.selected {
}
#u358.selected {
}
#u358_img.disabled {
}
#u358.disabled {
}
#u358_img.selectedDisabled {
}
#u358.selectedDisabled {
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u358_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u359 label {
  left:0px;
  width:100%;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:405px;
  width:75px;
  height:15px;
  display:flex;
}
#u359 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u359_img.selected {
}
#u359.selected {
}
#u359_img.disabled {
}
#u359.disabled {
}
#u359_img.selectedDisabled {
}
#u359.selectedDisabled {
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u359_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u360 label {
  left:0px;
  width:100%;
}
#u360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:430px;
  width:75px;
  height:15px;
  display:flex;
}
#u360 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u360_img.selected {
}
#u360.selected {
}
#u360_img.disabled {
}
#u360.disabled {
}
#u360_img.selectedDisabled {
}
#u360.selectedDisabled {
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u360_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u361 label {
  left:0px;
  width:100%;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:430px;
  width:75px;
  height:15px;
  display:flex;
}
#u361 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u361_img.selected {
}
#u361.selected {
}
#u361_img.disabled {
}
#u361.disabled {
}
#u361_img.selectedDisabled {
}
#u361.selectedDisabled {
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u361_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u362 label {
  left:0px;
  width:100%;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:405px;
  width:100px;
  height:15px;
  display:flex;
}
#u362 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u362_img.selected {
}
#u362.selected {
}
#u362_img.disabled {
}
#u362.disabled {
}
#u362_img.selectedDisabled {
}
#u362.selectedDisabled {
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u362_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u363 label {
  left:0px;
  width:100%;
}
#u363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:455px;
  width:75px;
  height:15px;
  display:flex;
}
#u363 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u363_img.selected {
}
#u363.selected {
}
#u363_img.disabled {
}
#u363.disabled {
}
#u363_img.selectedDisabled {
}
#u363.selectedDisabled {
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u363_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u364_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:504px;
  width:50px;
  height:25px;
  display:flex;
}
#u364 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u364_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364.disabled {
}
.u364_input_option {
}
#u365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:220px;
  background:inherit;
  background-color:rgba(17, 45, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 45, 85, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u366 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:570px;
  width:470px;
  height:220px;
  display:flex;
}
#u366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.133333333333333);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  -webkit-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  color:#FFFFFF;
  line-height:36px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:590px;
  width:140px;
  height:80px;
  display:flex;
  color:#FFFFFF;
  line-height:36px;
}
#u367 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.133333333333333);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  -webkit-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:690px;
  width:105px;
  height:80px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u368 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.133333333333333);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  -webkit-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:690px;
  width:105px;
  height:80px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u369 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.133333333333333);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  -webkit-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:690px;
  width:105px;
  height:80px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u370 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.133333333333333);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  -webkit-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:1217px;
  top:690px;
  width:105px;
  height:80px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u371 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.133333333333333);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  -webkit-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  color:#FFFFFF;
  line-height:36px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:590px;
  width:140px;
  height:80px;
  display:flex;
  color:#FFFFFF;
  line-height:36px;
}
#u372 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.133333333333333);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  -webkit-box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  box-shadow:3px 0px 5px 0px rgba(245, 154, 35, 0.349019607843137) inset;
  color:#FFFFFF;
  line-height:36px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:590px;
  width:140px;
  height:80px;
  display:flex;
  color:#FFFFFF;
  line-height:36px;
}
#u373 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:69px;
  width:470px;
  height:220px;
  display:flex;
  line-height:20px;
}
#u374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
