body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:800px;
  display:flex;
}
#u9125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:60px;
  display:flex;
}
#u9126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u9128 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:8px;
  width:100px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u9128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9129 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:23px;
  width:11px;
  height:11px;
  display:flex;
}
#u9129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u9130 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:29px;
  height:30px;
  display:flex;
}
#u9130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u9132 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:8px;
  width:100px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u9132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9133 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:23px;
  width:11px;
  height:11px;
  display:flex;
}
#u9133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u9135 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:8px;
  width:100px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u9135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9136 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:23px;
  width:11px;
  height:11px;
  display:flex;
}
#u9136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u9137 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:15px;
  width:29px;
  height:30px;
  display:flex;
}
#u9137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
}
#u9138 {
  border-width:0px;
  position:absolute;
  left:1288px;
  top:24px;
  width:30px;
  height:13px;
  display:flex;
}
#u9138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9139 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:15px;
  width:30px;
  height:30px;
  display:flex;
}
#u9139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9140 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:15px;
  width:30px;
  height:30px;
  display:flex;
}
#u9140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u9142 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:8px;
  width:100px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u9142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9143 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:23px;
  width:11px;
  height:11px;
  display:flex;
}
#u9143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.168627450980392);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.168627450980392);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.168627450980392);
}
#u9144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:1420px;
  height:60px;
  display:flex;
}
#u9144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9145_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9145 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:421px;
  width:1380px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u9145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9145_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9145.disabled {
}
#u9146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u9146 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:73px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u9146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9146_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u9146.mouseOver {
}
#u9146_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u9146.mouseDown {
}
#u9146_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(211, 211, 211, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u9146.disabled {
}
#u9146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9147 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:390px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9148 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:138px;
  width:196px;
  height:16px;
  display:flex;
}
#u9148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9149 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:138px;
  width:113px;
  height:16px;
  display:flex;
  text-align:right;
}
#u9149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9150 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:138px;
  width:197px;
  height:16px;
  display:flex;
}
#u9150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9151 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:178px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9152 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:210px;
  width:1380px;
  height:160px;
}
#u9153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1C1C1C;
}
#u9153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9154 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1C1C1C;
}
#u9154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u9155 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1C1C1C;
}
#u9155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9156 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9157 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9158 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9159 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u9160 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:70px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1C1C1C;
}
#u9160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9161 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#02A7F0;
}
#u9161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9162 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#02A7F0;
}
#u9162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9163 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4B7902;
}
#u9163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9164 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4B7902;
}
#u9164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u9165 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:0px;
  width:170px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1C1C1C;
}
#u9165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9166 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
}
#u9166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9168 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u9168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u9169 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:40px;
  width:110px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u9169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9170 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9171 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9172 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9173 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u9174 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:40px;
  width:70px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9175 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:40px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9176 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:40px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9177 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:40px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9178 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:40px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u9179 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:40px;
  width:170px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9180 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
  color:#000000;
}
#u9180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9182 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:80px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u9182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u9183 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:80px;
  width:110px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u9183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9184 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9185 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9186 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9187 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u9188 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:80px;
  width:70px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9189 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:80px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9190 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:80px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9191 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:80px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9192 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:80px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u9193 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:80px;
  width:170px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9194 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
  color:#000000;
}
#u9194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:40px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9196 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:120px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u9196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u9197 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:120px;
  width:110px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u9197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9198 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:120px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9199 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:120px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9200 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:120px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9201 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:120px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u9202 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:120px;
  width:70px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9203 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:120px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9204 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:120px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9205 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:120px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9206 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:120px;
  width:90px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u9207 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:120px;
  width:170px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u9207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9208 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:120px;
  width:100px;
  height:40px;
  display:flex;
  color:#000000;
}
#u9208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
